@use "./colors.module.scss";

.mainCardForm {
  margin: 100px auto;
  padding: 16px;
  width: 65dvw;
  height: 75dvh;
  border-radius: 1rem;
  background-color: white;
  display: flex;
  justify-content: space-between;
  .mainContent {
    margin-top: 40px;
    margin-right: 95px;
    position: relative;
    h1 {
      color: colors.$Marine-blue;
    }
    .descriptionMainCard {
      color: colors.$Cool-gray;
      margin: 1rem 0 2rem 0;
    }
    .buttons {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 100%;
      position: absolute;
      bottom: 1rem;
      .backButton {
        padding: 1rem 0;
        color: colors.$Cool-gray;
        font-size: 16px;
        font-weight: 500;
        background-color: white;
        border: none;
        &:hover {
          cursor: pointer;
          color: colors.$Marine-blue;
        }
      }
      .nextButton {
        padding: 1rem 1.5rem;
        background-color: colors.$Marine-blue;
        color: colors.$Magnolia;
        border: none;
        border-radius: 7px;
        font-size: 16px;
        font-weight: 500;
        &:hover {
          cursor: pointer;
          background-color: colors.$Dark-Pastel-blue;
        }
      }
    }
  }
}
