@use "./colors.module.scss";

.plansContainer {
  width: 425px;
  .plans {
    display: flex;
    justify-content: space-between;
    button {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding: 1.1rem 0.8rem;
      width: 30%;
      height: 150px;
      border: 1px solid colors.$Light-gray;
      border-radius: 5px;
      background-color: white;
      p {
        margin: 0;
        text-align: left;
      }
      .nameOfPlan {
        color: colors.$Marine-blue;
        font-weight: 500;
      }
      .price {
        color: colors.$Cool-gray;
      }
      .freeMessage {
        font-size: 12px;
        color: colors.$Marine-blue;
        margin-top: 0.5rem;
      }
      &:hover {
        cursor: pointer;
        border-color: colors.$Purplish-blue;
      }
      &:focus {
        background-color: colors.$Purplish-blue-light;
        border-color: colors.$Purplish-blue;
      }
    }
    .plansOfYear {
      height: 165px;
    }
  }
  .typeOfPlan {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    padding: 0.6rem;
    background-color: colors.$Purplish-blue-light;
    border-radius: 7px;
    font-weight: 500;

    button {
      margin: 0 1.5rem;
      padding: 3px;
      width: 40px;
      height: 20px;
      background-color: colors.$Marine-blue;
      border: none;
      border-radius: 25px;
      display: flex;

      span {
        width: 13px;
        height: 13px;
        background-color: white;
        border-radius: 50%;
      }

      &:hover {
        cursor: pointer;
      }
    }
    .year {
      justify-content: end;
    }
  }
}
